<div class="row">
    <div class="col col-md-12">
        <h4> List</h4>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <form class="form" action="/clucks/edit/{{id}}" method="POST">
            <input type="hidden" name="_method" value="PATCH">
                        <div class="form-group">
                <button type="SUBMIT" class="btn btn-success">UPDATE</button>
                &nbsp;
                <a href="/clucks" class="btn btn-primary">Show ALL</a>
            </div>
    </div>
    </form>
</div>
</div>