<div class="row">
  <div class="col col-md-4"></div>
  <div class="col col-md-4">
    <h4> Save New Cluck</h4>
    <form class="form" action="/clucks" method="POST">

      <input type="hidden" class="form-control" value={{username}} name="username" id="username"
        aria-describedby="helpId" placeholder="">

      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" class="form-control" name="content" id="content" aria-describedby="helpId"
          placeholder="Whatchoo cluckin' 'about?"></textarea>
      </div>

      <div class="form-group">
        <label for="image_url">Image Url</label>
        <input type="text" class="form-control" name="image_url" id="image_url" aria-describedby="helpId"
          placeholder="https://i.imgur.com/qM6KaEy.gifv">
      </div>


      <div class="form-group float-right">
        <button type="SUBMIT " class="btn btn-success">Cluck</button>

      </div>


    </form>
  </div>
  <div class="col col-md-4"></div>
</div>