<div class="row">
  <div class="col col-md-12">
    <h4>View Record</h4>
  </div>
</div>

<div class="row">
  <div class="col col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header">clucks {{id}}</div>
      <div class="card-body">
              </div>
    </div>
    <a class="float-right btn btn-sm btn-warning" href="/clucks/edit/{{id}}">edit</a>
  </div>
  <div class="col col-md-6"></div>
</div>