<div class="row">
  <div class="col col-md-4"></div>
  <div class="col col-md-4">
    <div style="border:solid 1px #ddd; padding-bottom:100px">
      <div style="padding:10px 40px!important">

        <form class="form" action="/users/login" method="POST">
          <div class="row">
            <div class="form-group">
              <label for="UserName" style="font-size:120%">User Name</label>
              <input type="text" class="form-control" name="UserName" id="UserName" aria-describedby="helpId"
                placeholder="" style="width:300px">
            </div>
          </div>
          <div class="row float-right">
            <div class="form-group">
              <button type="SUBMIT" class="btn btn-success">Sign In</button>
            </div>

        </form>
      </div>

    </div>

  </div>
  <div class="col col-md-4"></div>

</div>